.filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 60px;
  .button {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.3rem;
    min-width: 100px;
    font-family: "Work Sans";
    color: #1d6154;
    border-color: #1d6154;
    &:hover {
      color: white;
      background-color: #1d6154;
    }
  }
}
